body {
  font-family: Arial, sans-serif;
  margin: 20px;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
}

.light {
  background: #f2f2f2;
  color: black;
}

.nav button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.section {
  display: none;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  color: white;
}

input, textarea, select {
  width: 95%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  background: #3a86ff;
  color: white;
  font-weight: bold;
}

.login-box {
  width: 300px;
  padding: 20px;
  margin: auto;
  margin-top: 130px;
  background: #1e1e1e;
  color: white;
  border-radius: 12px;
  text-align: center;
}

.chat-box {
  height: 250px;
  overflow-y: scroll;
  background: #0f0f0f;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
